[include]
  path = ~/.gitconfig-identity  # Include identity conf.
[alias]
  amm = commit -av --amend
  br = branch
  cdf = clean -df
  dc = diff --cached
  co = checkout
  l = log @{upstream}..
  mp = map-branches -vv
  pff = pull --ff-only --no-rebase
  st = status
  wdiff = diff --word-diff -w
  lbh = "!git reflog --date=relative $(git symbolic-ref HEAD | sed 's|refs/heads/||')"
[branch]
  autosetuprebase = always
[color]
  ui = auto
[core]
  deltaBaseCacheLimit = 2G
  excludesfile = ~/.gitexcludes
[difftool]
  prompt = no
[merge]
  conflictstyle = diff3
  tool = vimdiff
[push]
  default = upstream
[sendemail]
  confirm = always
  chainreplyto = false
[rebase]
  autosquash = true
[google]
	lastUpdateCheck = 20141103000000
[http]
	cookiefile = /usr/local/google/home/primiano/.gitcookies
[log]
	date = local
[difftool "cdiff"]
  cmd = /usr/local/google/home/primiano/.local/bin/cdiff -s \"$LOCAL\" \"$REMOTE\"
  trustExitCode = false
