[include]
  path = ~/.gitconfig-identity  # Include identity conf.
[alias]
  amm = commit -av --amend
  br = branch
  cdf = clean -df
  dc = diff --cached
  co = checkout
  l = log @{upstream}..
  mp = map-branches -vv
  pff = pull --ff-only --no-rebase
  st = status
  wdiff = diff --word-diff -w
  sxs = difftool @{upstream}.. -t cdiff
  lbh = "!git reflog --date=relative $(git symbolic-ref HEAD | sed 's|refs/heads/||')"
  reb = "!sh -c \"git rebase $1@{upstream} $1 --fork-point\" -"
[branch]
  autosetuprebase = always
[color]
  ui = auto
[core]
  deltaBaseCacheLimit = 2G
  excludesfile = ~/.gitexcludes
[difftool]
  prompt = yes
[merge]
  conflictstyle = diff3
  tool = kdiff3
[push]
  default = upstream
[sendemail]
  confirm = always
  chainreplyto = false
[rebase]
  autosquash = true
[google]
	lastUpdateCheck = 20141103000000
[http]
	cookiefile = /usr/local/google/home/primiano/.gitcookies
[log]
	date = local
[difftool "cdiff"]
  cmd = cdiff -s \"$LOCAL\" \"$REMOTE\"
  trustExitCode = false
[mergetool "blink"]
  cmd = /tmp/blinktool \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = true
[mergetool "p4"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = false
[mergetool "kdiff3"]
  cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\" --L1 "Common_ancestor" --L2 "Upstream_changes" --L3 "Local_rebase_changes"
  trustExitCode = false
[pack]
	threads = 8
[http]
	cookiefile = /Users/primiano/.gitcookies
[gui]
	fontui = -family \"Droid Sans Mono\" -size 13 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Droid Sans Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
